.hal-login {
background: rgb(117, 214, 231);
/* background: linear-gradient(90deg,rgb(16, 185, 228) 0%, rgb(30, 75, 226) 40%, rgb(241, 162, 59) 100%); */
position: absolute;
    /* top: 50%; */
    left: 15%;
    margin-top: 100px;
    margin-left: -50px;
    width: 1024px;
    height: 200px;
    text-align: center;

}

.masuk {
    border-radius: 20px;
}

#nav-custom {
    display: flex;
    justify-content: space-between;
}

#nav-custom .navbar-brand {
    text-transform: uppercase;
    color: #000 !important;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 12px;
    
}

#navbarSupportedContent ul {
    list-style-type: none;
    display: flex;
}

#navbarSupportedContent ul li a {
    color: #000 !important;
    text-decoration: none;
    margin-right: 12px;
}

nav#navbar  {
    background-color: #fff;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.initial {
    text-align: center; 
}

#initial-button{
    margin-top: 32px;
}
#initial-button a {
    color: #fff !important;
    text-decoration: none;
    background-color: #000;
    padding: 12px 24px;
    border-radius: 24px;
}


 /* buat edit gambar */
.banner {
    height: 400px;
    width: 400px;
    margin-top: 24px;
}
.section{
   display: flex;
   justify-content: center;
}
