body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #53a7e8;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	
}

h1 {
	font-size: 36px;
	margin: 0;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin-right: 20px;
}


nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
    background-color: rgb(72, 209, 243);
}

section {
	flex: 1;
	vertical-align: center;
	margin: 10px; 
	padding: 20px;
	background-color: #eee;
}

form label {
	display: block;
	margin-bottom: 10px;
    width: 20px;
}

main {
	border-radius: 10px;
	background-size: cover;
	text-align: center;
}

form input,
form select,
form textarea {
	width: 300px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form textarea {
	height: 200px;
}

form button {
	background-color: #42b731;
	color: #fff;
	border: none;
	padding: 20px;
}

/* nav */
.nav-brand {
	font-family: Viga;
	font-size: 32px;
}




/* Style untuk navigasi */
nav ul {
	list-style: none;
	margin: 20;
	padding: 20;
	overflow: hidden;
	background-color: #1bdb95;
  }
  
  nav li {
	float: left;
  }
  
  nav li a {
	display: block;
	color: rgb(11, 162, 192);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  nav li a:hover {
	background-color: #2c2ce9;
  }
  
  /* Style untuk hero section */
  .hero {
	background-image: url(".jbackgroundpg");
	background-size: cover;
	height: 500px;
	display: flex;
	align-items: center;
  }
  
  .hero-text {
	text-align: center;
	color: white;
	margin: auto;
	max-width: 80%;
  }
  
  .hero-text h1 {
	font-size: 4em;
	margin-bottom: 0;
  }
  
  .hero-text p {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 2em;
  }
  .btn:hover {
	background-color: #3e8e41;
	
  }
  
  /* Style untuk services section */
  .services {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
  }
  
  .services h2 {
	font-size: 1;
  }

  body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  }
  
  header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  h1 {
	margin: 0;
  }
  
  nav {
	display: inline-block;
  }
  
  nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  nav li {
	display: inline-block;
	margin-right: 20px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  section {
	padding: 20px;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  

  /* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
  }
  
  a {
	color: #333;
	text-decoration: none;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  /* Header Styles */
  header {
	background-color: #0cecb4;
	border-bottom: 1px solid #eee;
	padding: 30px 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
  }
  
  header h1 {
	font-size: 30px;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
  }
  
  nav li {
	display: inline-block;
	margin-left: 20px;
  }
  
  nav a {
	font-size: 18px;
	font-weight: bold;
  }
  
  
  