.hal-login {
    background: rgb(117, 214, 231);
    background: linear-gradient(90deg,rgb(16, 185, 228) 0%, rgb(30, 75, 226) 40%, rgb(241, 162, 59) 100%);
    }
    
    .masuk {
        border-radius: 20px;
    }